*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body,
.app {
  background-color: $color-gray;
  color: $color-text;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  font-family: $ff-actor;
  margin: 0;
  height: 100vh;
  padding: 0;
}

main {
  flex-grow: 1;
  display: flex;

  @include vp-1023 {
    flex-direction: column
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: $color-black;
  text-decoration: none;
}

h1, h2, h3, p, span {
  padding: 0;
  margin: 0;
}


button {
  background-color: unset;
  border: unset;
  margin: 0;
  padding: 0;
  cursor: pointer;
}