// Colors

$color-white      : #ffffff;
$color-black      : #000000;

$color-white-smoke: #F5F5F5;
$color-grey       : #C4C4C4;
$color-gray       : #A4A4A4;
$color-white-gray : #AAAAAA;
$color-smoke      : #ACACAC;

$color-dark-text  : #171717;
$color-text       : #11253D;

$color-orange     : #FC6D3E;

// Typography
$ff-actor: "Actor", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;