.auth-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: $color-white;
  min-width: 650px;
  margin: 0;
  padding: 30px;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba($color-text, 0.1);

  &__title {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 530px;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  &__error {
    position: absolute;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    bottom: -25px;
  }

  @include vp-767 {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    min-width: unset;
    width: 100%;
    height: 100%;
    justify-content: center;

    &__logo {
      .logo__icon {
        aspect-ratio: 153/30;
        height: 50px;
      }
    }

    &__title {
      width: 320px;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
    }

    &__form {
      width: 340px;
    }

    &__wrapper {
      flex-direction: column;
      gap: 30px;
    }
  }
}